{% extends '@SyliusAdmin/layout.html.twig' %}

{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

{% import '@SyliusUi/Macro/messages.html.twig' as messages %}

{% block title %}Export {{ parent() }}{% endblock %}

{% block content %}
    <div class="ui stackable two column grid">
        <div class="twelve wide column">
            <h1 class="ui header">
                <i class="circular download icon"></i>
                <div class="content">
                    Export {{ type|capitalize }} data
                </div>
            </h1>

        </div>
        <div class="four wide right aligned column">
                <a class="ui labeled icon button" href="{{ path('custom_admin_export_request', {'type': type}) }}">
                    <i class="download icon"></i>
                    Request {{ type|capitalize }} export
                </a>
        </div>
    </div>
    <div>
    {% if exports is not empty %}
        <ul class="ui bulleted list">
            {% for export in exports %}
                <li>
                    <a href="{{ path('custom_admin_export_download', {'guid': export.guid}) }}">
                        {{ export.filename }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {{ messages.info('sylius.ui.no_results_to_display') }}
    {% endif %}
    </div>
{% endblock %}
